# Python
__pycache__/
*.pyc
*.pyo
*.sqlite3
venv/

# Node
node_modules/
dist/

# Environment
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Media uploads
django-chunked-upload/core/media/

# Logs
*.log
